
.Navbar{
    background-color: rgb(171, 171, 173);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    color: azure;
} 
.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.menuNav{
    color: rgb(247, 247, 247);
    padding: 16px;
}
